In [4]:
file = '/Users/ez/Downloads/disney_plus_shows.csv'

In [16]:
import pandas as pd
df= pd.read_csv(file)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   imdb_id      894 non-null    object
 1   title        894 non-null    object
 2   plot         866 non-null    object
 3   type         894 non-null    object
 4   rated        742 non-null    object
 5   year         894 non-null    object
 6   released_at  874 non-null    object
 7   added_at     992 non-null    object
 8   runtime      838 non-null    object
 9   genre        885 non-null    object
 10  director     689 non-null    object
 11  writer       743 non-null    object
 12  actors       870 non-null    object
 13  language     865 non-null    object
 14  country      869 non-null    object
 15  awards       556 non-null    object
 16  metascore    292 non-null    float64
 17  imdb_rating  879 non-null    float64
 18  imdb_votes   879 non-null    object
dtypes: float64(2), object(17)
memory usage: 147.4+ KB

In [15]:
is_NaN= df.isnull()
row_has_NaN= is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]
rows_with_NaN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 740 entries, 1 to 990
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   imdb_id      642 non-null    object
 1   title        642 non-null    object
 2   plot         614 non-null    object
 3   type         642 non-null    object
 4   rated        490 non-null    object
 5   year         642 non-null    object
 6   released_at  622 non-null    object
 7   added_at     740 non-null    object
 8   runtime      586 non-null    object
 9   genre        633 non-null    object
 10  director     437 non-null    object
 11  writer       491 non-null    object
 12  actors       618 non-null    object
 13  language     613 non-null    object
 14  country      617 non-null    object
 15  awards       304 non-null    object
 16  metascore    40 non-null     float64
 17  imdb_rating  627 non-null    float64
 18  imdb_votes   627 non-null    object
dtypes: float64(2), object(17)
memory usage: 115.6+ KB